:root {
  --white: #fff;
  --blue_500: #2762AD;
  --gray_500: #878787;
  --gray_600: #7D7D7D;
  --gray_700: #6C6C6C;

  --border-radius-s: 0.625rem;
  --border-radius-l: 1.8rem;

  --max-width-default: 275px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

input, label, button {
  cursor: pointer;
}
