@use "../../styles/breakpoints.scss" as b;

.card {
  text-align: center;
  border-radius: var(--border-radius-l);
  border: 1px solid var(--gray_600);
  padding: 2rem;
  max-width: var(--max-width-default);

  @include b.responsive(b.$desktop) {
    padding: 3rem 5rem;
    max-width: auto;
  }

  h2 {
    text-align: center;
  }

  &-abilities__title {
    text-align: center;
    margin-top: 1rem;
    color: var(--gray_700);
  }

  &-abilities__box {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 1rem;
    justify-content: space-evenly;
  }

  &-abilities__item {
    font-weight: 700;
  }
}
