@use "../../styles/breakpoints.scss" as b;

.field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: var(--max-width-default);

  label {
    color: var(--gray_700);
    font-size: 1.25rem;
    font-weight: 700;
  }

  input {
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius-s);
    border: 1px solid var(--gray_500);

    &::placeholder {
      font-weight: 700;
      color: var(--gray_500);
    }
  }
}
