@use "./styles/breakpoints.scss" as b;

.poke-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  margin: 4rem auto;

  @include b.responsive(b.$desktop) {
    font-size: 1.25rem;
  }

  &__form-field {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include b.responsive(b.$desktop) {
      flex-direction: row;
      align-items: end;
    }
  }
}
